/*
* Colour Variables
*/

$white: hsla(0, 0%, 100%, 1);
$lightGreen: hsla(136, 44%, 82%, 1);
$brightBlue: hsla(180, 98%, 39%, 1);
$lightBg: hsla(181, 70%, 25%, 1);
$darkBg: hsla(180, 92%, 5%, 0.5);
$dark: hsla(180, 92%, 5%, 0.85);
$grey: hsla(180, 8%, 81%, 1);